/*
#curr_now { 
  bottom:13px;
}

.submit, .submit:hover, .button A:link, .button A:visited, .button A:hover, .button1 A:link, .button1 A:visited, .button1 A:hover {
  padding:12px 20px 9px 20px;
}

.buttons A:link, .buttons A:visited, .buttons A:hover {
  padding:8px 10px 6px 10px;
}

.submita, .submita:hover {
  padding:7px 9px 4px 9px;
}

#main {
  min-height:calc(100vh - 135px);
}

.menu {
  padding-top:4px;
}
*/